*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
  background: #d8d8d6;
}

.header{
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(12,3,51,0,3),rgba(12,3,51,0,3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.top_header{
    width: 100%;
	height:100vh;
}

.logo {
  align-items: center;
}

.topnav {
  overflow: hidden;
  align-items: right;
  background-color: transparent;
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.4);
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.9);
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.9);
  color: white;
}

.dropdown-content a:hover {
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.9);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


video {
  width: 100%;
  height: 100px;
}


.content{

    text-align: center;
}
.content h1{
    font-size: 100px;
    color:rgb(2, 52, 2);
    font-weight: 600;
    transition: 0.5%;
}
.content h1:hover{
-webkit-text-stroke:2px rgb(2, 52, 2); 
color:transparent
}
.content p{
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.back-video{
     position:absolute;
    right:0;
    bottom:0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
  .back-video {
    width: 100%;
    height: auto;

  } 
}
@media (max-aspect-ratio:16/9){
    .back-video {
      width: auto;
      height: 100%;
  
    } 
  }

 @media(max-width: 1080px){
	 .content h1{
        font-size: 20px;
    }
    .content p{
      font-size: 10px;
	}
 }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* Input Number Styles*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .number-input-box{
    width: 100%;
    align-content: left;
  }
  
  .number-input {
    border: 2px;
    display:inline-flex;
    width: 80%;
    align-content: left;
    
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
    width: 80%;
    align-content: left;
  }
  
  .number-input button {
    outline:none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  

  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: .1rem;
    border: solid #ddd;
    border-width: 0 1px;
    
    font-weight: bold;
    text-align: center;
  }
/* End of Input Number Styles */

/* cutomer_Form*/
.form-area {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
    padding: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-area .form-inner {
    width: 100%;
    background-color: transparent;
}
.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 19px;
    font-size: 1rem;
    line-height: 1.4;
    color: #5c3d5a;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #5c3d5a;
    background-color: #FFF;
    border-color: #5c3d5a;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
.intl-tel-input,
.iti{
  width: 100%;
}

/*end customer form*/

  /*--something*/

  .something .submit_form{
    background-position: center;
    background-color:#bca89f;
    
    width:100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 55px;
    margin: 4px 2px; 
    
  }

  .something{
    background-position: center;
    margin-top: 0%;
    background-color:#bca89f;
    border-radius: 30px;
    width:100%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    
  }
 .something h1{
    font-size: 40px;
    font-weight: 600;
    justify-content:center;
  }
  .something p{
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-weight: 350;
    line-height: 10px;
    
  }

  .something .row{
   
    margin-top: 2%;
    display: flex;
    justify-content: center;

  }
  .something .row .turtle-col{
    flex-basis: 31%;
    background: #8b6c5c;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;
    padding:10px  10px 10px 10px;
    box-sizing:border-box;
  }
  .something .row .turtle-col h3{
    text-align:center ;
    font-weight: 600;
    margin: 10px 0;
  }
  .something .row .turtle-col p {
    color: black;
    font-size: 16px;
    font-weight: 350;
    line-height: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
  }

  .something .row .turtle-col img{
    width: 90%;
    height: 250px;
    padding-bottom: 15px;      
  }

  .something .row  .turtle-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    
      .something p{
          font-size: 20px;
      }
	  
}

.all{
  width:100%;
  height:auto;
  margin: auto;
  text-align: center;
  padding-top: 0px; 
  
}

.all .row{
   
    margin-top: 2%;
    display: flex;
    justify-content: center;

  }
  .all .row .turtle-col{
    flex-basis: 50%;
    box-sizing:border-box;
  }

.all .cat{
  margin:10px auto;
  width:80%;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
                     ,url(pics/tt.gif) ;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 100px 0;
  
}

.all .cat h1{
  color: #d6e4da;
  margin-bottom: 40px;
  padding: 0;
}

  .all .cat img{
    width: 90%;
    height: 250px;
    padding-bottom: 15px;    
    color: #fff;  
  }


.all .threats{

    margin:20px auto;
    width:80%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
                       ,url(pics/tourist.jfif) ;
    background-position: center;
    background-size:cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;
}

.all .threats h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

 .all .threats img{
    width: 90%;
    height: 250px;
    padding-bottom: 15px;      
  }
.all .table{
    margin:10px auto;
    width:80%;
    color: #d6e4da;
}
  .all .view{
    display: inline-block;
    text-decoration: none;
    color: #d6e4da;
    border: 1px solid #d6e4da;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .all .view:hover{
    border:1px solid black;
    background: black;
    transition: 1s;
  }


  /*----------footer=------*/

  
  footer
  {
      width: 100%;
      position: relative;
      bottom: 0;
      background: linear-gradient(to right,#3d251e,#4c3228,#5b3e31,#6a4a3a,#765341);
      color: #fff;
      padding: 75px 0 30px;
      border-top-left-radius: 110px;
      font-size: 16px;
      line-height: 22px;
      padding-top:10px;
  }
  .footer-row
  {
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
  }
  .footer-col
  {
      flex-basis: 20%;
      padding: 15px;
      padding-top:10px;
  }
  .logo
  {
      width: 150px;
      margin-bottom: 20px;
      margin-top: 40px;
  }
  .footer-col h3
  {
      width: fit-content;
      margin-top: 20px;
      position: relative;
      font-size: 18px;
      margin-bottom: 15px;
      color: #f4eee2;
  }
  .phone i
  {
      font-size: 18px;
      margin-right: 10px; 
  }
  .email
  {
      width:fit-content;
      border-bottom: 1px solid #ccc;
  }
  .email i
  {
      font-size: 18px;
      margin-right: 10px;
  }
  .facebook i
  {
      font-size: 18px;
      margin-right: 10px;
  }
  .instagram i
  {
      font-size: 18px;
      margin-right: 10px;
  }
  .footer-col ul li a{
      text-decoration: none;
      color: #fff; 
  }
  hr
  {
      width: 90%;
      border: 0;
      border-bottom:1px solid #fff;
      margin :20px auto;
  }
  .copyryt
  {
      text-align: center;
  }
  .underline
  {
     width: 100%;
     height: 5px;
     background: #151E30; 
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
     overflow: hidden;
  }
  .underline span
  {
      width: 15px;
      height: 100%;
      background: #fff;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 2s linear infinite;
  }
  @keyframes moving
  {
      0%
      {
          left: -20px;
      }
      100%
      {
          left: 100%;
      }
  }
  @media (max-width: 700px)
  {
      .footer
      {
          bottom: unset;
      }
      .footer-col
      {
          flex-basis: 100%;
      }
  }

/*............visa...........*/


.all2{
    width:100%;
    height:auto;
    margin: auto;
    text-align: center;
    padding-top: 0px; 
    
    
  }
  
  .all2 .row2{
     
      margin-top: 2%;
      display: flex;
      justify-content: center;
  
    }
    .all2 .row2 .turtle-col2{
      flex-basis: 50%;
      box-sizing:border-box;
      
    }
  
  .all2 .cat2{
    margin:10px auto;
    width:80%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
                       ,url(pics/tt.gif) ;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;
    
  }
  
  .all2 .cat2 h1{
    color: #d6e4da;
    margin-bottom: 40px;
    padding: 0;
  }
  
    .all2 .cat2 img{
      width: 90%;
      height: 250px;
      padding-bottom: 15px;    
      color: #fff;  
    }
    .all .threats{

      margin:20px auto;
      width:80%;
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
                         ,url(pics/tourist.jfif) ;
      background-position: center;
      background-size:cover;
      border-radius: 20px;
      text-align: center;
      padding: 100px 0;
  }
  
  .all2 .threats2{
  
      margin:20px auto;
      width:80%;
      height: auto;
      background-color: whitesmoke ;
      background-position: center;
      background-size:cover;
      border-radius: 20px;
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
                       ,url(pics/car1.png) ;
      padding: 20px 0;
      display: flex;
      display: flex;
      justify-content: center;
    align-items: center;
    
  }
  
 
  
   


.container1{
    width:350px;
    height: 80%;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1),
                0 5px 12px -2px rgba(0,0,0,0.1),
                0 18px 36px -6px rgba(0,0,0,0.1);
     min-height: 50vh;
     background-color: whitesmoke;
}
.container.title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container1 form input{
    display: none;
}
.container1 form  .category{
    margin-top: 10px;
    padding-top: 20px;
}
.category label{
    width: 100%;
    height:50px ;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1),
    0 5px 12px -2px rgba(0,0,0,0.1),
    0 18px 36px -6px rgba(0,0,0,0.1);
   border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
label:nth-child(2), label:nth-child(3){
    margin:15px 0;
}
#visa:checked ~ .category .visamethod,
#mastercard:checked ~ .category .mastercardmethod,
#paypal:checked ~ .category .paypalmethod,
#AMEX:checked ~ .category .amexmethod,
#mcash:checked ~ .category .mcashmethod{
   box-shadow: 0px 0px 0px 1px #6064b6;
}
#visa:checked ~ .category .visamethod .check,
#mastercard:checked ~ .category .mastercardmethod .check,
#paypal:checked ~ .category .paypalmethod .check,
#AMEX:checked ~ .category .amexmethod .check,
#mcash:checked ~ .category .mcashmethod .check{
   display: block;
}
label .imgname{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgname span{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.imgname .imgContainer{
    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:50px;
    height: auto;
}
.visa img{
    width: 60px;
}
.paypal img{
    width: 30px;
}
.MasterCard img{
    width: 60px;
}
.AMEX img{
    width: 37px; 
}
.m-cash img{
    width: 80px; 
}
.check i{
    font-size: 18px;

}
.check{
    display: none;
}

/* .. confirmation page ..  */


.con-box h1 {
    color: rgb(2, 52, 2);
    text-align: center;
  }

  .con-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(2, 52, 2);
   /* rgb(2, 52, 2)*/
  }
  .con-box p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color:black;
}
.details1 p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: black; 
}
  .con-box .details1{
    margin-top: 30px;
    border: 1px solid black;
    padding: 20px;
    max-width: 900px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    border-radius: 20px;
     /*background-image:  url(pics/ticket.jpg) ;;*/
   background-image:  linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))
                      ,url(pics/tick2.jpg);
  }

.details1 img{
  width: 100%;
  height: 100%;
  padding-bottom: 15px; 
}